##密钥配置##
.env
.env.*
!.env.example

##虚拟环境##
.venv/
venv/
env/

##ide配置##
/.idea/
*.iml
/.vscode/


##运行数据##
/data/
/models/
/qdrant_storage/

##缓存/临时文件##
/tmp/
/temp/
/tmpdo_gy8s4/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.tmp
*.log
/logs/
.coverage
coverage.xml
/htmlcov/

##构建产物##
/build/
/dist/
*.egg
*.egg-info/
pip-wheel-metadata/





